body {
    background-color: #1C1C1C;
}
button {
    border-radius:50%;
}

.number {
    color: #D4D4D2;
    background-color: #505050;
    border: 1px solid #505050;
    border-radius:50%;
}

.orange {
    background-color: #FF9500; 
    border:1px #FF9500;

}

#zero {
    width: 50px;
    border-radius: 50%;
}