section {
    background-color: aquamarine;
    width: 400px;
    height: 800px;
}

div {
    background-color: darkseagreen;
    width: 50%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 80%;
}

h2 {
    font-size: 5em;
    margin-left: 1em;
}

article {
    font-size: 20px;
}

p {
    font-size: 1em;
}

h3 {
    font-size: 1.5em;
}

button { 
    background-color: cornflowerblue;
    color: darkorange;
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}
